{"http_interactions":[{"request":{"method":"get","uri":"http://graphical.weather.gov/xml/sample_products/browser_interface/ndfdBrowserClientByDay.php?format=24%20hourly&numDays=7&zipCodeList=90210","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Nids-Serverid":["www4.mo"], "Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\"?>\n<dwml version=\"1.0\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"http://www.nws.noaa.gov/forecasts/xml/DWMLgen/schema/DWML.xsd\">\n  <head>\n    <product srsName=\"WGS 1984\" concise-name=\"dwmlByDay\" operational-mode=\"official\">\n      <title>NOAA's National Weather Service Forecast by 24 Hour Period</title>\n      <field>meteorological</field>\n      <category>forecast</category>\n      <creation-date refresh-frequency=\"PT1H\">2014-05-06T01:33:10Z</creation-date>\n    </product>\n    <source>\n      <more-information>http://www.nws.noaa.gov/forecasts/xml/</more-information>\n      <production-center>Meteorological Development Laboratory<sub-center>Product Generation Branch</sub-center></production-center>\n      <disclaimer>http://www.nws.noaa.gov/disclaimer.html</disclaimer>\n      <credit>http://www.weather.gov/</credit>\n      <credit-logo>http://www.weather.gov/images/xml_logo.gif</credit-logo>\n      <feedback>http://www.weather.gov/feedback.php</feedback>\n    </source>\n  </head>\n  <data>\n    <location>\n      <location-key>point1</location-key>\n      <point latitude=\"34.10\" longitude=\"-118.41\"/>\n    </location>\n    <moreWeatherInformation applicable-location=\"point1\">http://forecast.weather.gov/MapClick.php?textField1=34.10&amp;textField2=-118.41</moreWeatherInformation>\n    <time-layout time-coordinate=\"local\" summarization=\"24hourly\">\n      <layout-key>k-p24h-n7-1</layout-key>\n      <start-valid-time>2014-05-06T06:00:00-07:00</start-valid-time>\n      <end-valid-time>2014-05-07T06:00:00-07:00</end-valid-time>\n      <start-valid-time>2014-05-07T06:00:00-07:00</start-valid-time>\n      <end-valid-time>2014-05-08T06:00:00-07:00</end-valid-time>\n      <start-valid-time>2014-05-08T06:00:00-07:00</start-valid-time>\n      <end-valid-time>2014-05-09T06:00:00-07:00</end-valid-time>\n      <start-valid-time>2014-05-09T06:00:00-07:00</start-valid-time>\n      <end-valid-time>2014-05-10T06:00:00-07:00</end-valid-time>\n      <start-valid-time>2014-05-10T06:00:00-07:0[...]
{"request":{"method":"get","uri":"http://w1.weather.gov/xml/current_obs/KSMO.xml","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Nids-Serverid":["www11.mo"], "Last-Modified":["Tue, 06 May 2014 01:02:18 GMT"], "Content-Type":["application/xml"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?> \r\n<?xml-stylesheet href=\"latest_ob.xsl\" type=\"text/xsl\"?>\r\n<current_observation version=\"1.0\"\r\n\t xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\r\n\t xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n\t xsi:noNamespaceSchemaLocation=\"http://www.weather.gov/view/current_observation.xsd\">\r\n\t<credit>NOAA's National Weather Service</credit>\r\n\t<credit_URL>http://weather.gov/</credit_URL>\r\n\t<image>\r\n\t\t<url>http://weather.gov/images/xml_logo.gif</url>\r\n\t\t<title>NOAA's National Weather Service</title>\r\n\t\t<link>http://weather.gov</link>\r\n\t</image>\r\n\t<suggested_pickup>15 minutes after the hour</suggested_pickup>\r\n\t<suggested_pickup_period>60</suggested_pickup_period>\n\t<location>Santa Monica Muni, CA</location>\n\t<station_id>KSMO</station_id>\n\t<latitude>34.03</latitude>\n\t<longitude>-118.45</longitude>\n\t<observation_time>Last Updated on May 5 2014, 5:51 pm PDT</observation_time>\r\n        <observation_time_rfc822>Mon, 05 May 2014 17:51:00 -0700</observation_time_rfc822>\n\t<weather>Fair</weather>\n\t<temperature_string>66.0 F (18.9 C)</temperature_string>\r\n\t<temp_f>66.0</temp_f>\r\n\t<temp_c>18.9</temp_c>\n\t<relative_humidity>61</relative_humidity>\n\t<wind_string>Southwest at 11.5 MPH (10 KT)</wind_string>\n\t<wind_dir>Southwest</wind_dir>\n\t<wind_degrees>240</wind_degrees>\n\t<wind_mph>11.5</wind_mph>\n\t<wind_kt>10</wind_kt>\n\t<pressure_string>1013.5 mb</pressure_string>\n\t<pressure_mb>1013.5</pressure_mb>\n\t<pressure_in>29.93</pressure_in>\n\t<dewpoint_string>52.0 F (11.1 C)</dewpoint_string>\r\n\t<dewpoint_f>52.0</dewpoint_f>\r\n\t<dewpoint_c>11.1</dewpoint_c>\n\t<visibility_mi>10.00</visibility_mi>\n \t<icon_url_base>http://forecast.weather.gov/images/wtf/small/</icon_url_base>\n\t<two_day_history_url>http://www.weather.gov/data/obhistory/KSMO.html</two_day_history_url>\n\t<icon_url_name>skc.png</icon_url_name>\n\t<ob_url>http://www.weather.gov/data/METAR/KSMO.1.txt</ob_url>\n\t<disclaimer_url>http://weather.gov/disclaimer.html</disclaimer_url>\r\n\t<copyright_url>http://weather.gov/disclaimer.html</copyright_url>\r\n\t<privacy_policy_url>http://weather.gov/notice.html</privacy_policy_url>\r\n</current_observation>\n"},"http_version":null},"recorded_at":"Tue, 06 May 2014 01:34:44 GMT"}],"recorded_with":"VCR 2.9.0"}